In [1]:
print(9+1)

10

In [2]:
print(9-56)

-47

In [3]:
print(12/2)

6.0

In [4]:
print(15%3)

0

In [5]:
print(2**3)

8

In [6]:
print(9*9)

81

In [8]:
pi = 3.14
radius = 5
area_circle = pi * (radius*radius)
print(area_circle)

78.5

In [11]:
x = int(input("Enter a number"))
print(x*1, "___", x*2, "___", x*3)

Enter a number5
5 ___ 10 ___ 15

In [13]:
x = int(input("Enter a number"))
for i in range(5):
    print(x*i)

Enter a number5
0
5
10
15
20

In [15]:
num = int(input("Please enter a number: "))
print("The number you have entered is: ", num)

Please enter a number: 10
The number you have entered is:  10

In [17]:
name = input("please enter your full name")
print("Full name: ", name)

please enter your full nameKashif Aziz Hunzai
Full name:  Kashif Aziz Hunzai

In [2]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
print("The sum is ", num1+num2)
print("The product is ", num1*num2)
print("The difference is ", num1-num2)
print("The quotient is ", num1//num2)
print("The modulus is ", num1%num2)

Enter first number: 28
Enter second number: 3

The sum is  31
The product is  84
The difference is  25
The quotient is  9
The modulus is  1

In [11]:
x = "H"
y= " "
print(y*1, x*5)
print(y*2, x*4)
print(y*3, x*3)
print(y*4, x*2)
print(y*5, x*1)

  HHHHH
   HHHH
    HHH
     HH
      H

In [14]:
num = int(input("Enter your age"))
if num >= 18:
    print("You are an adult")
else:
    print("You are underage")

Enter your age 22

You are an adult

In [16]:
num = int(input("Enter a number: "))
if num%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:  3

Odd

In [25]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter first number: "))
num3 = int(input("Enter first number: "))
if num1>=num2 and num1>=num3:
    print(num1, "is largest")
elif num2>=num1 and num2>=num3:
    print(num2, " is Largest")
else:
    print(num3, " is Largest")
    
if num1<=num2 and num1<=num3:
    print(num1, "is Smallest")
elif num2<=num1 and num2<=num3:
    print(num2, " is Smallest")
else:
    print(num3, " is Smallest")

Enter first number:  33
Enter first number:  44
Enter first number:  33

44  is Largest
33 is Smallest

In [1]:
6 * -----------8

-48

In [2]:
8 = people

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1049067674.py, line 1)

There is a syntax error in the o statement. SyntaxError: We cannot assign to literal here.

In [4]:
people = 8

In [5]:
((((4 ** 3))))

64

In [6]:
(-(-(-(-5))))

5

In [7]:
4 += 7 / 2

SyntaxError: 'literal' is an illegal expression for augmented assignment (3528955550.py, line 1)

Error: The literal in the above expression is illegal

The correct syntax should be:

In [24]:
x = 4
x += 7 / 2
print(x)

7.5

In [30]:
print("Number \t Square Cude \t")
for i in range (11):
    print(i, "\t", i**2, "\t", i**3)

Number 	 Square Cude
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125
6 	 36 	 216
7 	 49 	 343
8 	 64 	 512
9 	 81 	 729
10 	 100 	 1000

In [32]:
num1 = int(input())
num2 = int(input())
x = num1
num1 = num2
num2 = x
print("num1 = ", num1)
print("num1 = ", num2)

 23
 32

num1 =  32
num1 =  23

In [33]:
num1 = int(input("Please enter a 5 digit number: "))

Please enter a 5 digit number:  22

In [30]:
x = int(input("Please enter a 5 digit number: "))
reverse = 0
reverse = (x%10)
x = x//10
print(reverse, end='')

reverse = (x%10)
x=x//10
print(reverse, end='')

reverse = (x%10)
x=x//10
print(reverse, end='')

reverse = (x%10)
x=x//10
print(reverse, end='')

reverse = (x%10)
x=x//10
print(reverse, end='')

Please enter a 5 digit number: 65436
63456

In [2]:
h = int(input("Enter hyp"))
b = int(input("Enter base")) 
p = int(input("Enter per")) 

if h**2 == b**2 + p**2:
    print("The three integers are the sides of a right triangle")
else:
    print("These numbers are not right triangle")

Enter hyp5
Enter base4
Enter per3
The three integers are the sides of a right triangle

In [3]:
print("**********")
print("*        *")
print("*        *")
print("*        *")
print("*        *")
print("*        *")
print("*        *")
print("**********")

**********
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [4]:
print("   ****   ")
print(" *      * ")
print("*        *")
print("*        *")
print("*        *")
print(" *      * ")
print("   ****   ")

   ****
 *      *
*        *
*        *
*        *
 *      *
   ****

In [12]:
score = int(input("Enter your score: "))
if score >= 90 and score <=100:
    print("you have got A grade")
elif score >= 80 and score <90:
    print("you have got B grade")
elif score >= 70 and score <80:
    print("you have got C grade")
elif score >= 60 and score <70:
    print("you have got D grade")
elif score >= 50 and score <60:
    print("you have got E grade")
elif score < 50 and score >= 0:
    print("you have Failed the Exam")
else:
    ("Please enter a valid score")

Enter your score: 66
you have got D grade

In [29]:
x = int(input("Please enter a 5 digit number: "))
num1 = x
reverse = 0
reverse = (reverse*10) + (x%10)
x=x//10

reverse = (reverse*10) + (x%10)
x=x//10

reverse = (reverse*10) +  (x%10)
x=x//10

reverse = (reverse*10) +  (x%10)
x=x//10

reverse = (reverse*10) + (x%10)
x=x//10
print(reverse)

if num1 == reverse:
    print("This is a paldrome number")
else:
    print("This is not a palindrome number")

Please enter a 5 digit number: 12223
32221
This is not a palindrome number

In [5]:
time = int(input("Whats the time: "))
amORpm = int(input("AM = 1 or PM = 2 "))

if amORpm == 1:
    time = time
else:
    time = time + 12

if time>12:
    time = time - 12
else: 
    time = time

future = int(input("How many hours do you want to go in future: "))

time = time + future

if time>12:
    time = time - 12
    print("You will go to ", time, " am in future")
else: 
    time = time
    print("You will go to ", time, " pm in future")

Whats the time: 10
AM = 1 or PM = 2 2
How many hours do you want to go in future: 5
You will go to  3  am in future

#####