In [1]:
for i in range (10):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********

In [2]:
for i in range (10, 0):
    print(i * "*")

In [3]:
for i in range (10, 0, -1):
    print(i * "*")

**********
*********
********
*******
******
*****
****
***
**
*

In [4]:
for i in range (10):
    print(10 * "*")

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [9]:
for i in range (5):
    print("*", end="")

*****

In [12]:
for i in range (5):
    for j in range(5):
        print("*", end='  ')
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [13]:
for i in range(10):
    for j in range(i+1):
        print("*", end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [14]:
for i in range (10):
    for j in range(i, 10):
        print("*", end='')
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [16]:
for i in range(10):
    for j in range(i, 10):
        print(' ', end='')
        
    for k in range(i+1):
        print("*", end='')
    
    print()

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [22]:
for i in range(10):
    for j in range(i+1):
        print(" ", end='')
    for k in range(i, 10):
        print("*", end='')
    print()

 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [21]:
for i in range(10):
    for j in range(i+1):
        print("  ", end='')
    for k in range(i, 10):
        print("*", end='')
    print()

  **********
    *********
      ********
        *******
          ******
            *****
              ****
                ***
                  **
                    *

In [2]:
for i in range(10):
    
    
    
    
    
    print()

In [3]:
print(6*2-5/(1+4)+3**2)

20.0

In [4]:
number = 4
if number * 4 < 15:
 print(number / 4)
elif number < 5:
 print(number + 3)
else:
 print(number * 2 % 5)

7

In [5]:
def greater_value(x, y):
    if x > y:
        return x
    else:
       return y


print(greater_value(10,3*5))

15

In [6]:
((24 == 5*2) and (24 > 3*5) and (2*6 == 12))

False